<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2019 ~ https://github.com/braver-tool
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mysimplecalendar">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:name="com.android.mysimplecalendar.application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LaunchActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.TransparentActivity" />
        <activity
            android:name=".activities.AddReminderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver android:name=".notifications.LocalNotificationReceiver" />
    </application>

</manifest>